<html>
<head></head>
<body>
<h1><%= image_tag ("/Icon_Dir.png", :size=>"64x64", :alt=>"directory") %><%= @name %></h1>
<table>
<tr>
<th></th>
<th>作成日時</th>
<th>変更日時</th>
<th>データサイズ</th>
</tr>
<% @datas.each do |d| %>
<tr>
<td><a href="<%= d[:href] %>">
<% if d[:prop][:resourcetype] %>
<%= image_tag ("/Icon_Dir.png", :size=>"32x32", :alt=>"directory") %>
<% else %>
<%= image_tag ("/Icon_Dir.png", :size=>"32x32", :alt=>"file") %>
<% end %>
<%= d[:prop][:displayname] %></a></td>
<td><%= d[:prop][:creationdate] %></td>
<td><%= d[:prop][:lastmodifieddate] %></td>
<td><%= d[:prop][:getcontentlength] %></td>
</tr>
<% end %>
</table>
</body>
</html>
