<%= stylesheet_link_tag "list_directory" %>
<div id="container">
<h1 id="title"><%= link_to(image_tag("/TitleImage.png", :alt=>"DocCollect", :class=>"vmiddle"), {:controller=>"root",:action=>"index"}) %></h1>
<h2 id="dirname"><%= image_tag("/Icon_Dir.png", :size=>"64x64", :alt=>"directory", :class=>"vmiddle") %><%= @name %></h1>
<div id="dircontent">
<div id="dirtablediv">
<table id="dirtable">
<tbody>
<tr class="dirtable_head">
<th></th>
<th>作成日時</th>
<th>変更日時</th>
<th>データサイズ</th>
<th>MIME</th>
</tr>
<tr class="dirtable_item">
<td class="cname"><a href=".."><%= image_tag("/Icon_Dir.png", :size=>"28x28", :alt=>"directory", :class=>"vmiddle") %>..</a></td>
<td class="ccdate" />
<td class="cmdate" />
<td class="csize" />
<td class="cmime" />
</tr>
<% @datas.each do |d| %>
<tr class="dirtable_item">
<td class="cname"><a href="<%= d[:href] %>">
<% if d[:prop][:resourcetype] %>
<%= image_tag("/Icon_Dir.png", :size=>"28x28", :alt=>"directory", :class=>"vmiddle") %>
<% else %>
<%= image_tag("/Icon_File.png", :size=>"28x28", :alt=>"file", :class=>"vmiddle") %>
<% end %>
<%= d[:prop][:displayname] %></a></td>
<td class="ccdate"><%= Time.parse(d[:prop][:creationdate]).strftime("%Y年%m月%d日 %H時%M分%S秒") %></td>
<td class="cmdate"><%= Time.parse(d[:prop][:getlastmodified]).strftime("%Y年%m月%d日 %H時%M分%S秒") %></td>
<td class="csize"><%= d[:prop][:getcontentlength] %></td>
<td class="cmime"><%= d[:prop][:getcontenttype] %></td>
</tr>
<% end %>
</tbody>
</table>
</div>
</div>
<div id="footer">
<div id="credits">
<p>DocCollect, DAV-ed Document Management System</p>
<p>Powered by Ruby on Rails</p>
</div>
</div>
</div>
