<html>
<head></head>
<body>
<h1><%= @name %></h1>
<table>
<tr>
<th></td>
<th>作成日時</th>
<th>変更日時</th>
<th>データサイズ</th>
</tr>
<% @datas.each do |d| %>
<tr>
<td><a href="<%= d[:href] %>"><%= d[:prop][:displayname] %></a></td>
<td><%= d[:prop][:creationdate] %></td>
<td><%= d[:prop][:lastmodifieddate] %></td>
<td><%= d[:prop][:getcontentlength] %></td>
</tr>
<% end %>
</table>
</body>
</html>
